.contactWrapper {
  min-height: 15vh;
  background-color: #160b40;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #eacbf2;
}

.contactContent {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 70vw;

  font-family: "Chakra Petch", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;

  align-items: flex-start;

  margin: 1rem 0;
}

.socialMidia {
  grid-row-start: 2;
}

.contactWrapper a {
  color: #eacbf2;
}

.contactWrapper a:hover {
  color: #aa16db;
}
