.gridWrapper {
  background-color: transparent;
  background-image: url("../assets/stars.svg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
}

.gridContainer {
  padding: 1.5rem 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 2px;
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
  width: 85%;
}

.span1 {
  grid-row: 1;
  grid-row-end: span 2;
}

.span2 {
  grid-column-end: span 2;
}

.span3 {
  grid-row: 2;
  grid-column-end: span 4;
}

.span4 {
  grid-row: 3;
}

.span5 {
  grid-row: 2;
}

.gridContainer > figure > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.gridContainer > figure > img:hover {
  opacity: 0.9;
  cursor: pointer;
}

.containerBiggerPhoto {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .span1 {
    grid-column: 1;
    grid-row-end: auto;
  }

  .span2 {
    grid-column: 1;
    grid-row-end: auto;
  }

  .span3 {
    grid-column: 1;
    grid-row-end: auto;
  }

  .span4 {
    grid-column: 1;
    grid-row: auto;
  }

  .span5 {
    grid-column: 1;
    grid-row: auto;
  }
}
