article {
    position: relative;
    padding: 0;
    height: 40rem;
    display: flex;
    align-items: center;
    background-color: #160b40;
}

.myphoto {
    height: 50px;
    box-shadow: 2px 2px 2px rgba(4,0,13,1);
    margin-left: 5rem;
}

.content {
    display: flex;
    color: white;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.description {
    font-family: 'Chakra Petch', sans-serif;
    line-height: 2rem;
}
