.wrapper {
  margin: 0 auto;
}

.hero {
  --city-second-height: 66;
  --city-original-width: 320;
  --city-original-height: 90;
  --city-height: (
    100vw * var(--city-original-height) / var(--city-original-width)
  );
  height: calc(100vh + var(--city-height));
  position: relative;
}

.nebulatop,
.nebulabottom,
.planet,
.spaceships {
  position: absolute;
}

.planet {
  bottom: calc(100vw * var(--city-second-height) / var(--city-original-width));
  z-index: 2;
}

.earth {
  position: relative;
  width: 50vw;
  max-width: 2000px;
  min-width: 350px;
  z-index: 2;
}

.moon {
  width: 10vw;
  min-width: 100px;
  z-index: 1;
}

.nebulabottom {
  right: 0;
  bottom: calc(100vw * var(--city-second-height) / var(--city-original-width));
  z-index: 1;
}

.nebulabottom > img {
  width: 55vw;
  min-width: 400px;
}

.nebulatop {
  top: 0;
}

.nebulatop > img {
  width: 50vw;
  min-width: 350px;
}

.spaceship-wrapper {
  right: 0;
  top: 0;
}

.spaceShip {
  position: absolute;
  height: 105vh;
  right: 0;
  top: 0;
  z-index: 3;
}

.horizontalSpaceShip {
  position: absolute;
  width: 100vw;
}

.horizontal {
  position: absolute;
  bottom: calc(
    100vw * var(--city-original-height) / var(--city-original-width) + 5vh
  );
  z-index: 3;
  left: 0;
}

.parallax {
  height: 100%;
  width: 100%;
  background-repeat: repeat;
}

@media screen and (max-width: 992px) {
  .hero {
    background-position: initial;
  }
  .spaceShip {
    display: none;
  }
  .horizontalSpaceShip {
    display: none;
  }
}
