* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  image-rendering: pixelated;
}

body {
  background-color: #06001a;
  overflow-x: hidden;
}

.starsParallax::before {
  content: "";
  background-image: url("./assets/stars.svg");
  width: 100%;
  height: 100%;
  bottom: 100%;
  left: 0;
  position: absolute;
  background-size: cover;
}

.starsParallax::after {
  content: "";
  background-image: url("./assets/stars.svg");
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  position: absolute;
  background-size: cover;
}
